---
layout: default
title: Explore
pagination:
  enabled: true
  per_page: 5
  sort_field: 'date'
  sort_reverse: true
---

{% for post in paginator.posts %}
  <h3><a href="{{ post.url }}">{{ post.title }}</a>&nbsp;&nbsp;&nbsp;<span style="color: #999999; font-size: 0.8em;">{{ post.date | date_to_string }}</span></h3>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination" style="display: flex; gap: 20px; justify-content: center;">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination-item newer" style="border-radius: 20px; text-decoration: none;">←</a>
  {% else %}
    <span class="pagination-item newer" style="border-radius: 20px;">←</span>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="pagination-item older" style="border-radius: 20px; text-decoration: none;">→</a>
  {% else %}
    <span class="pagination-item older" style="border-radius: 20px;">→</span>
  {% endif %}
</div>
{% endif %}