@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cream text-[19px] leading-[1.6] text-slate-900 antialiased font-serif dark:bg-slate-950 dark:text-slate-100;
  }

  @media (max-width: 640px) {
    body {
      @apply text-[17px] leading-[1.6];
    }
  }
}

@layer components {
  html.is-scrolled .site-header-inner {
    @apply py-2;
  }

  html.is-scrolled .site-brand {
    @apply text-sm;
  }

  html.is-scrolled .site-brand-logo {
    @apply h-5 w-5;
  }
}
