---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "404: Page not found";
---

<BaseLayout title={title}>
  <div class="prose prose-slate prose-sm sm:prose-base prose-headings:tracking-tight prose-p:mt-0 prose-p:mb-5 sm:prose-p:my-3 dark:prose-invert dark:prose-a:text-slate-100">
    <h1>{title}</h1>
    <p>
      Sorry, we've misplaced that URL or it's pointing to something that doesn't exist.
      <a href="/">Head back home</a> to try finding it again.
    </p>
  </div>
</BaseLayout>
